Repository arcus-azure/arcus.testing, pull requests merged in 2025-04, with the labels that each got.

#331 chore(deps): remove net6.0 target framework from all but logging libraries
  src/Arcus.Testing.Assert/Arcus.Testing.Assert.csproj
  src/Arcus.Testing.Core/Arcus.Testing.Core.csproj
  src/Arcus.Testing.Integration.DataFactory/Arcus.Testing.Integration.DataFactory.csproj
  src/Arcus.Testing.Messaging.ServiceBus/Arcus.Testing.Messaging.ServiceBus.csproj
  src/Arcus.Testing.Storage.Blob/Arcus.Testing.Storage.Blob.csproj
  src/Arcus.Testing.Storage.Cosmos/Arcus.Testing.Storage.Cosmos.csproj
  src/Arcus.Testing.Storage.Table/Arcus.Testing.Storage.Table.csproj
  src/Arcus.Testing.Tests.Core/Arcus.Testing.Tests.Core.csproj
  src/Arcus.Testing.Tests.Unit/Arcus.Testing.Tests.Unit.csproj
Labels: dependencies

#327 chore(logging.nunit): remove logging.core bagage from logging.nunit
  src/Arcus.Testing.Logging.NUnit/Arcus.Testing.Logging.NUnit.csproj
  src/Arcus.Testing.Logging.NUnit/Extensions/LoggerSinkConfigurationExtensions.cs
  src/Arcus.Testing.Logging.NUnit/NUnitTestLogEventSink.cs
  src/Arcus.Testing.Tests.Unit/Logging/LoggerSinkConfigurationExtensionsTests.cs
Labels: area:logging

#328 feat(logging.nunit): add provider alias to nunit logger provider
  src/Arcus.Testing.Logging.NUnit/Extensions/ILoggerBuilderExtensions.cs
Labels: enhancement, area:logging

#329 feat(logging.mstest): add provider alias to mstest logger provider
  src/Arcus.Testing.Logging.MSTest/Extensions/ILoggerBuilderExtensions.cs
Labels: area:logging

#326 chore(nosql): remove temp nosql item filter
  src/Arcus.Testing.Storage.Cosmos/NoSqlItemParser.cs
  src/Arcus.Testing.Storage.Cosmos/TemporaryNoSqlContainer.cs
  src/Arcus.Testing.Tests.Integration/Storage/TemporaryNoSqlContainerTests.cs
  src/Arcus.Testing.Tests.Unit/Storage/NoSqlItemFilterTests.cs
  src/Arcus.Testing.Tests.Unit/Storage/TemporaryNoSqlContainerOptionsTests.cs
Labels: area:storage

#330 chore(blob): remove unnecessary deprecated `BlobNameFilter`
  src/Arcus.Testing.Storage.Blob/TemporaryBlobContainer.cs
  src/Arcus.Testing.Tests.Integration/Storage/TemporaryBlobContainerTests.cs
  src/Arcus.Testing.Tests.Unit/Storage/BlobNameFilterTests.cs
  src/Arcus.Testing.Tests.Unit/Storage/TemporaryBlobContainerOptionsTests.cs
Labels: area:storage

#333 docs(logging): remove logging.core from logging feature docs
  docs/preview/03-Features/03-logging.mdx
Labels: area:logging, dependencies

#334 chore(core): add exception test tags in core library
  src/Arcus.Testing.Core/ResourceDirectory.cs
  src/Arcus.Testing.Core/TestConfig.cs
Labels: area:core

#339 docs(migration.v1.0): use delegate filters in migration guide v1.0
  docs/versioned_docs/version-v1.3.0/04-Guidance/migrate-from-testing-framework-to-arcus-testing-v1.0.mdx
Labels: documentation, area:storage

#332 chore(logging.mstest): remove logging.core from logging.mstest
  src/Arcus.Testing.Logging.MSTest/Arcus.Testing.Logging.MSTest.csproj
  src/Arcus.Testing.Logging.MSTest/Extensions/LoggerSinkConfigurationExtensions.cs
  src/Arcus.Testing.Logging.MSTest/MSTestLogEventSink.cs
  src/Arcus.Testing.Tests.Unit/Logging/CustomLoggerProviderTests.cs
  src/Arcus.Testing.Tests.Unit/Logging/InMemoryLogSinkTests.cs
  src/Arcus.Testing.Tests.Unit/Logging/LoggerSinkConfigurationExtensionsTests.cs
  src/Arcus.Testing.Tests.Unit/Logging/SpyLoggerTests.cs
Labels: area:logging, dependencies

#337 feat(core): extend test-config w/ custom sources
  docs/preview/03-Features/01-core.md
  src/Arcus.Testing.Core/TestConfig.cs
  src/Arcus.Testing.Tests.Integration/Core/Fixture/CustomTestConfig.cs
  src/Arcus.Testing.Tests.Integration/Core/TestConfigTests.cs
Labels: area:core

#342 chore(logging): remove (now) unused logging.core proect from solution
  src/Arcus.Testing.Logging.Core/Arcus.Testing.Logging.Core.csproj
  src/Arcus.Testing.Logging.Core/CustomLoggerProvider.cs
  src/Arcus.Testing.Logging.Core/InMemoryLogSink.cs
  src/Arcus.Testing.Logging.Core/InMemoryLogger.cs
  src/Arcus.Testing.Logging.Core/InMemoryLoggerT.cs
  src/Arcus.Testing.Logging.Core/LogEntry.cs
  src/Arcus.Testing.sln
Labels: area:logging

#344 feat(core): add user-friendly operators to resource directory
  docs/preview/03-Features/01-core.md
  src/Arcus.Testing.Core/ResourceDirectory.cs
  src/Arcus.Testing.Tests.Integration/Core/ResourceDirectoryTests.cs
  src/Arcus.Testing.Tests.Unit/Assert_/AssertJsonTests.cs
Labels: area:core

#343 chore(logging): remove net6.0 target framework from logging projects
  src/Arcus.Testing.Logging.MSTest/Arcus.Testing.Logging.MSTest.csproj
  src/Arcus.Testing.Logging.NUnit/Arcus.Testing.Logging.NUnit.csproj
  src/Arcus.Testing.Logging.Xunit/Arcus.Testing.Logging.Xunit.csproj
Labels: area:logging

#351 fix(ci): use custom `dotnet nuget` to push PR previews to MyGet
  build/ci-build.yml
Labels: automation, management

#352 fix(docs.core): use correct resource directory method
  docs/preview/03-Features/01-core.md
Labels: documentation, area:core

#358 chore(blob): use net8.0 arg constructs in blob library
  src/Arcus.Testing.Storage.Blob/TemporaryBlobContainer.cs
  src/Arcus.Testing.Storage.Blob/TemporaryBlobFile.cs
Labels: enhancement, area:storage

#359 chore(cosmos): use net8.0 arg constructs in cosmos library
  src/Arcus.Testing.Storage.Cosmos/TemporaryMongoDbCollection.cs
  src/Arcus.Testing.Storage.Cosmos/TemporaryMongoDbDocument.cs
  src/Arcus.Testing.Storage.Cosmos/TemporaryNoSqlContainer.cs
Labels: enhancement, area:storage

#366 chore(table): use net8.0 arg constructs in table library
  src/Arcus.Testing.Storage.Table/TemporaryTable.cs
  src/Arcus.Testing.Storage.Table/TemporaryTableEntity.cs
Labels: enhancement, area:storage

#367 chore(service-bus): use net8.0 arg constructs in messaging library
  src/Arcus.Testing.Messaging.ServiceBus/ServiceBusMessageFilter.cs
  src/Arcus.Testing.Messaging.ServiceBus/TemporaryQueue.cs
  src/Arcus.Testing.Messaging.ServiceBus/TemporaryTopic.cs
  src/Arcus.Testing.Messaging.ServiceBus/TemporaryTopicSubscription.cs
Labels: enhancement, area:service-bus

#362 fix(cosmos): invalid file encoding 'MIXED' to 'CRLF'
  src/Arcus.Testing.Storage.Cosmos/TemporaryMongoDbCollection.cs
  src/Arcus.Testing.Storage.Cosmos/TemporaryMongoDbDocument.cs
  src/Arcus.Testing.Storage.Cosmos/TemporaryNoSqlContainer.cs
Labels: enhancement, area:storage

#368 docs(ci): add sonar qube quality gate badge to README.md
  README.md
Labels: documentation, enhancement

#365 chore(logging): streamline w/ net8.0 constructs in logging
  src/Arcus.Testing.Logging.MSTest/MSTestLogger.cs
  src/Arcus.Testing.Logging.NUnit/NUnitTestLogger.cs
  src/Arcus.Testing.Logging.Xunit/XunitTestLogger.cs
  src/Arcus.Testing.Tests.Unit/Logging/MSTestLoggerTests.cs
Labels: bug, enhancement, area:logging

#361 chore(style): use 'var' when type is apparent
  src/.editorconfig
Labels: enhancement, management

#363 chore(core): streamline w/ net8.0 constructs in core
  src/Arcus.Testing.Core/AsyncDisposable.cs
  src/Arcus.Testing.Core/DisposableCollection.cs
  src/Arcus.Testing.Core/ResourceDirectory.cs
  src/Arcus.Testing.Core/TemporaryEnvironmentVariable.cs
  src/Arcus.Testing.Core/TestConfig.cs
Labels: enhancement, area:core
