Repository arcus-azure/arcus.testing, pull requests merged in 2025-09, with the labels that each got.

#470 chore(logging): upgrade xunit v3 package dependency
  src/Arcus.Testing.Logging.Xunit.v3/Arcus.Testing.Logging.Xunit.v3.csproj
Labels: area:logging, dependencies

#463 feat(TemporaryTopic): add OnTeardown property
  docs/preview/03-Features/04-Azure/05-Messaging/01-servicebus.mdx
  src/Arcus.Testing.Messaging.ServiceBus/TemporaryTopic.cs
  src/Arcus.Testing.Tests.Integration/Messaging/TemporaryTopicTests.cs
Labels: area:messaging

#479 fix(test.auth): move managed identity as an assembly test fixture
  src/Arcus.Testing.Tests.Integration/Fixture/TemporaryManagedIdentityConnection.cs
  src/Arcus.Testing.Tests.Integration/Integration/DataFactory/RunDataFlowTests.cs
  src/Arcus.Testing.Tests.Integration/Integration/DataFactory/TemporaryDataFlowDebugSessionTests.cs
  src/Arcus.Testing.Tests.Integration/Messaging/Fixture/ServiceBusTestContext.cs
  src/Arcus.Testing.Tests.Integration/Storage/Fixture/BlobStorageTestContext.cs
  src/Arcus.Testing.Tests.Integration/Storage/Fixture/MongoDbTestContext.cs
  src/Arcus.Testing.Tests.Integration/Storage/Fixture/NoSqlTestContext.cs
  src/Arcus.Testing.Tests.Integration/Storage/Fixture/TableStorageTestContext.cs
Labels: bug, management
