Repository arcus-azure/arcus.testing, pull requests merged in 2025-06, with the labels that each got.

#405 docs(docusaurus): use local docusaurus search
  docs/docusaurus.build.config.js
  docs/package.json
  docs/pnpm-lock.yaml
Labels: documentation, enhancement

#348 feat(core): add exception filters to polling operation
  docs/preview/03-Features/01-core.md
  src/Arcus.Testing.Core/Poll.cs
  src/Arcus.Testing.Tests.Integration/Storage/Fixture/MongoDbTestContext.cs
  src/Arcus.Testing.Tests.Integration/Storage/TemporaryMongoDbCollectionTests.cs
  src/Arcus.Testing.Tests.Unit/Core/PollTests.cs
Labels: enhancement, area:core

#406 feat(integration): add support for dataFactory DataFlows which contain Flowlets
  docs/preview/03-Features/04-Azure/06-Integration/01-data-factory.mdx
  src/Arcus.Testing.Integration.DataFactory/TemporaryDataFlowDebugSession.cs
  src/Arcus.Testing.Tests.Integration/Integration/DataFactory/Fixture/TemporaryDataFactoryDataFlow.cs
  src/Arcus.Testing.Tests.Integration/Integration/DataFactory/RunDataFlowTests.cs
  src/Arcus.Testing.Tests.Unit/Integration/DataFactory/RunDataFlowTests.cs
Labels: feature, area:integration

#408 fix(poll): use new `PollOptions` instance on each call
  src/Arcus.Testing.Core/Poll.cs
  src/Arcus.Testing.Tests.Unit/Core/PollTests.cs
Labels: bug, area:core

#409 chore(readme): use github markdown note instead of blockquote
  README.md
Labels: documentation

#415 fix(az.sb.topic.sub): add missing coverage for az sb topic sub rules
  docs/preview/03-Features/04-Azure/05-Messaging/01-servicebus.mdx
  docs/versioned_docs/version-v2.0.0/03-Features/04-Azure/05-Messaging/01-servicebus.mdx
  docs/versioned_docs/version-v2.1.0/03-Features/04-Azure/05-Messaging/01-servicebus.mdx
  src/Arcus.Testing.Messaging.ServiceBus/TemporaryTopicSubscription.cs
  src/Arcus.Testing.Tests.Integration/Messaging/Fixture/ServiceBusTestContext.cs
  src/Arcus.Testing.Tests.Integration/Messaging/TemporaryTopicSubscriptionTests.cs
Labels: area:messaging

#418 chore(az.storage): use microsoft naming for az storage account
  docs/preview/03-Features/04-Azure/04-Storage/01-storage-account.mdx
  docs/versioned_docs/version-v2.0.0/03-Features/04-Azure/04-Storage/01-storage-account.mdx
  docs/versioned_docs/version-v2.1.0/03-Features/04-Azure/04-Storage/01-storage-account.mdx
  src/Arcus.Testing.Storage.Blob/TemporaryBlobContainer.cs
  src/Arcus.Testing.Storage.Blob/TemporaryBlobFile.cs
  src/Arcus.Testing.Storage.File.Share/TemporaryShareDirectory.cs
  src/Arcus.Testing.Storage.File.Share/TemporaryShareFile.cs
  src/Arcus.Testing.Storage.Table/TemporaryTable.cs
Labels: documentation, area:storage

#416 chore(az.sb): use microsoft naming for az service-bus
  src/Arcus.Testing.Messaging.ServiceBus/ServiceBusMessageFilter.cs
  src/Arcus.Testing.Messaging.ServiceBus/TemporaryQueue.cs
  src/Arcus.Testing.Messaging.ServiceBus/TemporaryTopic.cs
Labels: documentation, area:messaging

#420 chore(az.cosmos.db): use microsoft naming for az cosmos db
  docs/preview/03-Features/04-Azure/04-Storage/02-cosmos.mdx
  docs/versioned_docs/version-v2.0.0/03-Features/04-Azure/04-Storage/02-cosmos.mdx
  docs/versioned_docs/version-v2.1.0/03-Features/04-Azure/04-Storage/02-cosmos.mdx
  src/Arcus.Testing.Storage.Cosmos/Arcus.Testing.Storage.Cosmos.csproj
  src/Arcus.Testing.Storage.Cosmos/MongoDbConnection.cs
  src/Arcus.Testing.Storage.Cosmos/NoSqlExtraction.cs
  src/Arcus.Testing.Storage.Cosmos/NoSqlItemParser.cs
  src/Arcus.Testing.Storage.Cosmos/TemporaryMongoDbCollection.cs
  src/Arcus.Testing.Storage.Cosmos/TemporaryMongoDbDocument.cs
  src/Arcus.Testing.Storage.Cosmos/TemporaryNoSqlContainer.cs
  src/Arcus.Testing.Storage.Cosmos/TemporaryNoSqlItem.cs
Labels: documentation, area:storage

#422 chore(az.storage): use microsoft naming for storage package descriptions
  src/Arcus.Testing.Storage.Blob/Arcus.Testing.Storage.Blob.csproj
  src/Arcus.Testing.Storage.File.Share/Arcus.Testing.Storage.File.Share.csproj
  src/Arcus.Testing.Storage.Table/Arcus.Testing.Storage.Table.csproj
Labels: documentation, area:storage
